*{
    margin: 0;
}
nav{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
}

ul, nav li{
    display: inline;
}

.left-menu ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    padding: 2vw;
}

.left-menu{
    background-color: black;
    color: white;
    padding: 2vw;
    flex: 1;
}

.content{
    background-color: white;
    color: black;
    padding: 2vw;
    flex: 2;
}

section{
    display: flex;
}



@media only screen and (max-width : 768px){
    section{
        flex-direction: column;
    }
}