*{
    margin: 0;
}

h1{
    text-align: end;
    font-size: clamp(2rem, 5vw, 5rem);
    padding: 5px;
}

nav{
    color: white;
    height: 100px;
    width: 100%;
    background-color : #1E1E1E;
    box-shadow : 0px 5px 5px #009418;
}

.side-bar{
    width: 250px;
    height: auto;
    background-color: #009418;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.biodata, .content, section{
    display: flex;
}

a{
    text-decoration: none;
    color: #009418;
}

a, button{
    width: 15vw;
}

.content{
    flex-direction: row;
}

img{
    padding: 2vw;
    height: max-content;
    width: 20vw;
}

.biodata{
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width : 768px){
    .content, section{
        flex-direction: column;
    }

    .content{
        align-items: center;
    }

    .side-bar{
        width: auto;
        padding: 20px;
    }

    button{
        width: 70%;
    }

    .biodata p{
        text-align: center;
    }

}